In [ ]:
##Write a program in python to read tomato disease dataset in following manner
## 1. Uploading the file in colab
## 2. Mounting the drive
## 3. Using token from kaggle

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("noulam/tomato")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/noulam/tomato?dataset_version_number=1...

100%|██████████| 743M/743M [00:06<00:00, 125MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/noulam/tomato/versions/1

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/mnist_test.csv")

In [ ]:
df.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/Data sets/mnist_test.csv'
df1 = pd.read_csv(file_path)

In [ ]:
df1.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import kagglehub
path = kagglehub.dataset_download("oddrationale/mnist-in-csv")

Using Colab cache for faster access to the 'mnist-in-csv' dataset.

In [ ]:
import os

# Use the 'path' variable returned by kagglehub
# Your screenshot shows the folder contains 'mnist_test.csv' and 'mnist_train.csv'
file_path = os.path.join(path, 'mnist_test.csv')

# Now read the actual file
df = pd.read_csv(file_path)
df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0